.main{
    width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 5% 25% 0 25%;
    padding: 45px 60px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 2px darkgray;
}

.logo{
    width: 100px;
}

.ansimName{
    font-size: 25px;
}

.user_id, .password{
    width: 97%;
    height: 35px;
    border-radius: 8px;
    margin: 1% 0;
    border: 1px solid darkgrey;
    padding-left: 2%;
}

.checkboxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkboxContainer label:hover{
    cursor: pointer;

}

.login_btn {
    width: 100%;
    height: 40px;
    background-color: dodgerblue;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 120%;
    margin: 5px 0;
}
.login_btn:hover{
    cursor: pointer;
}
.linkBtn{
    display: inline-block;
    margin: 3px 0;
}

.signupBtn, .findIdBtn, .findPwBtn{
    text-decoration: none;
}

.signupBtn {
    float: right;
    margin-right: 10px;
    margin-bottom: 5px;
}

.findIdBtn {
    float: left;
    margin-top: 5px;
}

.findPwBtn {
    float: right;
    margin-top: 5px;
}

