.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    justify-content: center;
}

.grid-item {
    border: 1px solid black;
    padding: 1rem;
}

.point {
    display: flex;
    justify-content: space-between;
}

.card-body {
    position: relative;
    /* 기타 카드 스타일 */
}

.badge-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 33.33%; /* 카드 가로 크기의 1/3 */
}

.badge-container img {
    width: 100%;
    height: auto; /* 가로 크기에 맞춰서 세로 크기를 자동으로 설정 */
}