
.main{
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 1rem;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
}

.top {
    display: flex;
    flex: 3; /* 상단 영역의 비율을 3으로 설정 */
}

.middle {
    flex: 1; /* 중단 영역의 비율을 1로 설정 */
}

.bottom {
    flex: 2; /* 하단 영역의 비율을 2로 설정 */
}

.bigLeft {
    flex: 1; /* 상단 좌측 영역의 비율을 2로 설정 */
}

.bigRight {
    flex: 2; /* 상단 우측 영역의 비율을 1로 설정 */
}

.image {
    flex: 1;
    border-bottom: 2px solid #adadad;
}

.detail {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 1rem;
}

.sub-detail-title {
    display: flex;
    flex: 1;
    gap: 1rem;
    border-bottom: 2px solid #adadad;
}

.sub-detail {
    display: flex;
    flex: 1;
    gap: 1rem;
}

.left {
    flex: 1;
    border-bottom: 2px solid #adadad;
}

.right {
    flex: 1;
    border-bottom: 2px solid #adadad;
}

.map {
    flex: 1;
    border: 1px solid black;
}

.info {
    flex: 2;
    border-top: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
}

.bottom_menu{
    margin-top: 20px;
    margin-bottom: 20px;
}
.bottom_menu > a:link, .bottom_menu .a:visited{
    background-color: #FFA500;
    color: maroon;
    padding: 15px 25px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}
.bottom_menu > a:hover, .bottom_menu > a:active{
    background-color: #1E90FF;
    text-decoration: none;
}

.details {
    display: flex;
}


.detail-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
}

.detail-col-full {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 2;
}

.detailLeft {
    width: 25%;
}

.detailRight {
    width: 75%;
    display: flex;
    flex-direction: column;
}

.detailTop {
    display: flex;
    height: 50%;
}

.detailBottom {
    display: flex;
    height: 50%;
}