.boardlist_main {
    width: 100%;
    height: 850px;
    user-select: none;
}
h1 {
    font-family: 'TheJamsil5Bold';
    letter-spacing: 2px;
}
.main-content {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.board_search {
    width:30%;
    height:30px;
    border:2px solid black;
    font-size: 16px;
    border-radius: 5px;
    letter-spacing: 1px;
    padding-inline: 5px;
}

.board_search_btn {
    width: 4%;
    height:36px;
    background: #6392ff;
    color:white;
    font-weight:bold;
    cursor:pointer;
    margin-left: 10px;
    border-radius: 5px;
    border: 2px solid black;
    letter-spacing: 1px;
}

.bottom_menu{
    margin-top: 20px;
}
.bottom_menu > a:link, .bottom_menu > a:visited{
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color:  #2478FF;
    border: 2px solid  #2478FF; /* 기본 테두리 색상 */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.bottom_menu > a:hover, .bottom_menu > a:active{
    background-color: dodgerblue;
    border-color: #2478FF; /* 호버 시 테두리 색상 */
    color: white;
}
.pagelist {
    margin-top: -30px;
    margin-bottom: -40px;
}