
.board_view{
    width: 100%;
    height: 100%;
    user-select: none;
    font-family: 'TheJamsil5Bold';
    letter-spacing: 1px;
    margin-top: 50px;
}

.view_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid black;
    border-radius: 30px;
    padding-inline: 10px;
}

.top {
    display: flex;
    height: 150px;
}

.middle {
    height: 100px;
    width: 70%;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 20px;
    display: flex;
    margin-top: -30px;
}

.bottom {
    display: grid;
    /*flex: 1.5; !* 하단 영역의 비율을 2로 설정 *!*/
    height: 220px;
    margin-top: 10px;
}

.bigLeft {
    width: 300px;
    height: 180px;
    margin-top: 10px;
}

.bigRight {
    /*flex: 1; !* 상단 우측 영역의 비율을 1로 설정 *!*/
    width: 60%;
    /*height: 200px;*/
    margin-left: 30px;
}

.detail {
    display: flex;
    flex-direction: column;
    /*flex: 3;*/
    gap: 1rem;
    height: auto;
}

.sub-detail-title {
    display: flex;
    border-bottom: 2px solid #adadad;
    font-size: 20px;
}

.sub-detail {
    display: flex;
    /*flex: 1;*/
    gap: 1rem;
    height: auto;
}

.left {
    flex: 1;
    border-bottom: 2px solid #adadad;
}

.right {
    flex: 1;
    border-bottom: 2px solid #adadad;
}

.map {
    flex: 1;
    border: 1px solid black;
    height: 100%;
    margin-left: 20px;
    margin-top: 5px;
}

.view_info {
    flex: 2;
    border: 3px solid black;
    width: 93%;
    height: 70%;
    padding: 10px;
    text-align: left;
    margin: 0 auto;
}

.view_bottom_menu {
    margin-top: -10px;
    /*margin-bottom: 20px;*/
    text-align: center;
    font-family: 'TheJamsil5Light';
}
.view_bottom_menu> a:link, .view_bottom_menu > a:visited{
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue; /* 기본 테두리 색상 */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.view_bottom_menu > a:hover, .view_bottom_menu > a:active{
    background-color: dodgerblue;
    border-color: dodgerblue; /* 호버 시 테두리 색상 */
    color: white;
}

.details {
    flex-grow: 2;
    height: 100%;
}
.detail-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    height: auto;
}
.detail-col img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-left: 10px;
}
.gender {
    margin-left: -10px;
}

.detailLeft {
    width: 20%;
    height: 100%;
}

.detailRight {
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 53px;
    font-size: 13px;
}

.detailTop {
    display: flex;
    height: 50%;
}

.detailBottom {
    display: flex;
    height: 50%;
    margin-left: 10px;
}
.apply_list {
    overflow-y: auto;
    margin-top: -20px;
}
.applicant_list {
    display: flex;
    border-top: 2px solid #adadad;
    border-bottom: 2px solid #adadad;
    height: 60px;
    width: 93%;
    margin: 0 auto;
}
.listLeft {
    width:  7%;
    height: 100%;
    padding: 5px;
}

.listMiddle {
    width: 60%;
    display: flex;
    flex-direction: column;
    height: 90%;
    font-size: 13px;
    text-align: left;
    margin-left: 20px;
}

.listRight {
    width: 10%;
    display: flex;
    margin-top: 2%;
    justify-content: center;
    text-align: center;
    height: 50%;
    margin-left: 100px;
}
.listRight input {
    background-color: black;
    color: white;
    border-radius: 5px;
}
.apply_container {
    flex-grow: 1;
    margin-top: 35px;
    margin-left: 30px;
}
.apply_btn {
    border-radius: 5px;
    font-family: 'TheJamsil5Light';
    color: white;
    width: 90px;
}