#sidebar_menu input {
    padding: 10px;
    font-size: 16px;
}

#sidebar_menu .rst_wrap{
    width: 220px;
}

#sidebar_menu ul {
    list-style: none;
    padding: 0;
}

#sidebar_menu li {
    margin: 5px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#sidebar_menu li:hover {
    background-color: #dcdcdc;
}

#sidebar_menu .button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue; /* 기본 테두리 색상 */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#sidebar_menu .button:hover {
    background-color: dodgerblue;
    border-color: dodgerblue; /* 호버 시 테두리 색상 */
    color: white;
}

#sidebar_menu .checkbox {
    margin:5px;
}

#sidebar_menu .stopover_wrap{
    font-size: 14px;
}