#main_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    max-height: 100vh; /* calc(100vh - 150px) */
    position: relative; /* 상대 위치 설정 */
}
#map_div {
    flex: 1;
}
#sidebar { /*Nav.js*/
    width: 150px;
    height: 100vh;
     background-color: #f0f0f0;
    user-select: none;
    text-align: center;
}
#sidebar_menu {
    display: none;
}
#sidebar_menu.open {
    display: flex; /* 열릴 때 보이도록 */
    width: 350px;
    max-height: 100vh;
    flex-direction: row; /* 가로로 나열 */
    padding: 0 0 0 30px;
}
#sidebar ul {
    list-style-type: none;
    padding: 0;
}
#sidebar li {
    margin-top: 20px;
    cursor: pointer;
}
#cardList {
    user-select: none;
    cursor: pointer;
    overflow-y: auto;
    flex: 1;
    max-height: 85vh; /* max-height: 725px;*/
    width: 230px;
}
.card_layout {
    width: auto;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #EBF3FF;
    margin-top: 10px;
}
.card_nm {
    padding-top: 5px;
    margin-bottom: 10px;
    color: #0068C8;
    font-weight: bold;
    font-size: 18px;
}
.card_addr, .card_telno {
    margin-bottom: 3px;
    /*margin-right:10px;*/
}
.direction_icon, .facility_icon, .board_icon , .mypage_icon, .login_icon,.logout_icon {
    font-size: 30px;
    padding-left: 15px;
}
.notification_icon {
    font-size: 40px;
    margin-top: 500px;
}
.counter {
    width: 18px;
    height: 18px;
    background-color: red;
    border-radius: 50%;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    bottom: 45px;
    left: 75px;
}
.notification_div {
    position: relative;
}
.apply_btn {
    width: 100px;
    height: 30px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: bisque;
    user-select: none;
    cursor: pointer;
}