.signupMain{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 5% 25% 0 25%;
    padding: 45px 60px;
    border-radius: 8px;
    box-shadow: 1px 1px 3px 2px darkgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signupTitle{
    color: dodgerblue;
}

.signupImgView {
    margin: auto;
    border: 1px solid dodgerblue;
    width: 290px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.signupImgBox{
    width: 100%;
    height: 100%;
    margin: auto;
}

.genderDiv{
    /*display: flex;*/
    justify-content: center;
    width: 295px;
    margin: auto;
}

.signupField{
    border: 1px solid gainsboro;
    width: 270px;
    height: 30px;
    border-radius: 8px;
    padding-left: 15px;
    margin-bottom: 4px;
}

.signupOptionField{
    margin-left: 15px;
    border: 1px solid gainsboro;
    width: 230px;
    height: 30px;
    border-radius: 8px;
    padding-left: 10px;
    margin-bottom: 8px;

}

.signupPageBtn{
    width: 72%;
    height: 38px;
    line-height: 38px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: white;
    color: dodgerblue;
    border: 2px solid dodgerblue; /* 기본 테두리 색상 */
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signupPageBtn:hover{
    background-color: dodgerblue;
    border-color: dodgerblue; /* 호버 시 테두리 색상 */
    color: white;
}